.Container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 50px;
    width: 100%;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.Item {
    cursor: pointer;
    color: #444;
    z-index: 999;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;
}

/* Hamburger button */
.Hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #444;
    cursor: pointer;
}

/* Menu mặc định ẩn */
.Menu {
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    max-height: none; /* Không giới hạn chiều cao trên màn hình lớn */
    transition: none; /* Không cần hiệu ứng trên màn hình lớn */
}

/* Ẩn phần giờ làm việc trên màn hình nhỏ */
.WorkingHours {
    display: flex;
}

/* CSS cho màn hình nhỏ */
@media (max-width: 1164px) {
    .Menu {
        max-height: 0;
        overflow: hidden; /* Ẩn menu khi chưa mở */
        transition: max-height 0.5s ease-out;
        flex-direction: column;
        position: absolute;
        top: 36px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }

    /* Hiển thị menu khi nhấn vào nút 3 gạch */
    .ShowMenu {
        max-height: 500px;
    }

    .Hamburger {
        display: block; /* Hiển thị nút Hamburger chỉ trên màn hình nhỏ */
    }

    .Item {
        width: 100%; /* Các item sẽ chiếm toàn bộ chiều ngang */
        margin-bottom: 10px;
    }

    .Container {
        justify-content: space-between;
        height: 50px;
    }

    .WorkingHours {
        display: none !important;
    }
}

/* Điều chỉnh thêm cho các kích thước trung bình */
@media (min-width: 1165px) and (max-width: 1315px) {
    .Item {
        display: flex;
    }

    .Container {
        justify-content: space-between;
        height: 50px;
    }

    .WorkingHours {
        display: none !important;
    }
}